<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
</head>
<body>
    <h1>Fraud Detection Form</h1>
    <form method="post">

        <h3>Numeric Inputs</h3>
        {% for col in numeric_cols %}
            <label>{{ col }}:</label>
            <input type="number" step="0.01" name="{{ col }}" required><br><br>
        {% endfor %}

        <h3>ProductCD</h3>
        {% for val in productCD_map %}
            <input type="radio" name="ProductCD" value="{{ val }}" required> {{ val }}
        {% endfor %}
        <br><br>

        <h3>Card4</h3>
        {% for val in card4_map %}
            <input type="radio" name="card4" value="{{ val }}" required> {{ val }}
        {% endfor %}
        <br><br>

        <h3>Card6</h3>
        {% for val in card6_map %}
            <input type="radio" name="card6" value="{{ val }}" required> {{ val }}
        {% endfor %}
        <br><br>

<h3>ID_12</h3>
<input type="radio" name="id_12" value="Found" required> Found
<input type="radio" name="id_12" value="NotFound"> NotFound
<br><br>

<h3>ID_15</h3>
<input type="radio" name="id_15" value="Found" required> Found
<input type="radio" name="id_15" value="New"> New
<input type="radio" name="id_15" value="Unknown"> Unknown
<br><br>

<label>addr2_encoded:</label>
<input type="number" step="1" name="addr2_encoded" required><br><br>

<h3>ID_16</h3>
<input type="radio" name="id_16" value="Found" required> Found
<input type="radio" name="id_16" value="NotFound"> NotFound
<br><br>

<h3>ID_28</h3>
<input type="radio" name="id_28" value="Found" required> Found
<input type="radio" name="id_28" value="New"> New
<br><br>

<h3>ID_29</h3>
<input type="radio" name="id_29" value="Found" required> Found
<input type="radio" name="id_29" value="NotFound"> NotFound
<br><br>


        <h3>ID-35</h3>
        <input type="radio" name="id_35" value="F" required> F
        <input type="radio" name="id_35" value="T"> T
        <br><br>

        <h3>ID-36</h3>
        <input type="radio" name="id_36" value="F" required> F
        <input type="radio" name="id_36" value="T"> T
        <br><br>

        <h3>ID-37</h3>
        <input type="radio" name="id_37" value="F" required> F
        <input type="radio" name="id_37" value="T"> T
        <br><br>

        <h3>ID-38</h3>
        <input type="radio" name="id_38" value="F" required> F
        <input type="radio" name="id_38" value="T"> T
        <br><br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
</body>
</html>
